
    @{{httpMethod}}{{#subresourceOperation}}
    @Path("{{{path}}}"){{/subresourceOperation}}{{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }){{/hasProduces}}
    @Operation(summary = "{{{summary}}}", description = "{{{notes}}}")
    {{#implicitHeadersParams.0}}
    @io.swagger.annotations.ApiImplicitParams({
        {{#implicitHeadersParams}}
        @io.swagger.annotations.ApiImplicitParam(name = "{{{baseName}}}", value = "{{{description}}}", {{#required}}required = true,{{/required}} dataType = "{{{dataType}}}", paramType = "header"){{^-last}},{{/-last}}
        {{/implicitHeadersParams}}
    })
    {{/implicitHeadersParams.0}}
    @APIResponses(value = { {{#responses}}
        @APIResponse(responseCode = "{{{code}}}", description = "{{{message}}}", content = @Content(mediaType = {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}}, schema = @Schema(type = SchemaType.{{#isArray}}ARRAY{{/isArray}}{{#isModel}}OBJECT{{/isModel}}, implementation = {{{baseType}}}.class){{^-last}})),{{/-last}}{{/responses}}))
    })
    {{#interfaceOnly}}default{{/interfaceOnly}}{{^interfaceOnly}}public{{/interfaceOnly}} {{#supportAsync}}CompletionStage<{{/supportAsync}}Response{{#supportAsync}}>{{/supportAsync}} {{nickname}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>cookieParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{^-last}},{{/-last}}{{/allParams}}) {
        return {{#supportAsync}}CompletableFuture.supplyAsync(() -> {{/supportAsync}}do{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}({{#allParams}}{{paramName}}{{^-last}},{{/-last}}{{/allParams}}){{#supportAsync}}){{/supportAsync}};
    }

    {{#interfaceOnly}}public{{/interfaceOnly}}{{^interfaceOnly}}protected abstract{{/interfaceOnly}} Response do{{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}({{#allParams}}{{dataType}} {{paramName}}{{^-last}},{{/-last}}{{/allParams}});